/* ----- Normalize ----- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    margin: 0;
}

input:focus,
textarea:focus {
    outline: none;
}

input, textarea {
    border: none;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* ----- Typography ----- */
body {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #434343;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: #434343;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    font-size: 36px;
}

strong {
    color: #434343;
    font-weight: 700;
}

.small {
    font-size: 12px;
}

.subtext {
    color: #aaaaaa;
    font-size: 12px;
}

/* ----- Title ----- */
.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* ----- Links ----- */
a {
    display: inline-block;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a:hover,
a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* ----- Section----- */
.section-content {
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.page-container {
    background: #fff;
    padding-left: 225px;
}

.main-content {
    padding-top: 20px;
}

/* ----- Sidebar----- */
.menu-sidebar {
    width: 225px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #1e375b;
}

.menu-sidebar .logo {
    background: #1e375b;
    padding: 0 35px 5px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.navbar-sidebar .navbar-list .user-data {
    padding: 8px 35px;
    color: #fff;
    background-color: #1e375b;
    font-size: 12px;
    border: 0;
}

.navbar-sidebar .navbar-list li {
    display: flex;
    color: #fff;
    font-size: 12px;
    padding: 8px 35px;
    align-items: center;
}

.navbar-sidebar .navbar-list .active {
    background-color: #458796;
}

.navbar-sidebar .navbar-list li i {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.navbar-sidebar .navbar-list li i img {
    height: 25px;
}

.navbar-sidebar .navbar-list li:hover {
    background-color: #458796;
}

.navbar-sidebar .navbar-list li.active > a {
    color: #4272d7;
}

/* ----- Card ----- */
.card {
    border-radius: 10px;
    background: #fff;
    border-style: solid;
    border-color: #e8e8e8;
    border-width: thin;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

/* ----- Table ----- */
.table-name {
    display: flex;
    align-items: baseline;
    padding: 5px 0 0;
}

.table-border {
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #e8e8e8;
    overflow: hidden;
}

.table {
    margin: 0;
    white-space: nowrap;
}

.table thead th {
    background: #68829d;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
    font-weight: 500;
    border : 0;
}

.table thead th:first-child {
    padding-left: 15px;
}

.table thead th:last-child {
    padding-right: 15px;
}

.table thead th .column-name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.input-container-left {
    position: relative;
    padding: 0;
    margin: 0;
}

.input-container-left > input {
    padding-left: 5px;
    padding-right: 20px;
    height: 20px;
    margin: 0;
}

.input-container-left > img {
    position: absolute;
    bottom: -3px;
    left: 29px;
    width: 25px;
    height: 25px;
}

.input-container-right {
    position: relative;
    padding: 0;
    margin: 0;
}

.input-container-right > input {
    padding-left: 25px;
    padding-right: 5px;
    height: 20px;
    margin: 0;
}

.input-container-right > img {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 25px;
    height: 25px;
}

.table tbody td {
    font-size: 12px;
    color: #434343;
    text-align: center;
}

.dot-green {
    height: 16px;
    width: 16px;
    background-color: #58bfa0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.dot-orange {
    height: 16px;
    width: 16px;
    background-color: #ec9023;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.dot-red {
    height: 16px;
    width: 16px;
    background-color: #fc8787;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: "Poppins", sans-serif;
}

.pagination > img {
    width: 20px;
}

.pagination .small {
    padding: 0 10px;
}

.pagination .active {
    color: #fff;
    background: #68829d;
}

.circle {
    color: #434343;
    border-radius: 50%;
    height:25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0 5px;
}

.pagination .circle:hover {
    color: #fff;
    background: #68829d;
}

/* ----- Footer ----- */
.footer {
    text-align: center;
    font-size: 12px;
}
